.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    max-width: 60%;
    margin: auto;
}

.header {
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

.navbar__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar__links_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 12px;
    font-size: 25px;
    font-weight: bold;
    color: #858585;
    text-decoration: none;
}

.navbar__links_link:hover {
    color: #DF4807;
}

.navbar__logo {
    display: flex;
    justify-content: flex-start;
    max-height: 150%;
    margin-bottom: 10vh;
}

.srh_link {
    text-decoration: none;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 6px;
    align-self: center;
    color: #DF4807;
    text-align: start;
}

.link__no_dec {
    text-decoration: none;
}

.srh_logo {
    max-height: 100%;
}

.pagination {
    list-style: none;
}

.pagination_pages {
    display: flex;
    min-width: 100%;
}

.page__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.srh_logo_link {
    max-width: 15%;
    max-height: 100%;
}

.nutzer__table_row {
    vertical-align: middle;
}