{% extends "base.html" %}
{% block content %}
{{ pagination.links }}
<form method="post">
    <table  class="table table-striped">
        <tr>
            <th>AusweisID</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Stra0e</th>
            <th>PLZ</th>
            <th>Actions:</th>
        </tr>
        {% for user in users %}

        <tr class="nutzer__table_row">
            <td>{{ user.ausweisID }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.nachname }}</td>
            <td>{{ user.strasse }}</td>
            <td>{{ user.plz }}</td>
            <td>
                <input class="btn btn-warning" name="action" type="submit" value="Edit">
                <input class="btn btn-danger" name="action" type="submit" value="Delete">
                <input type="hidden" name="id" value="{{ user.ausweisID }}">
            </td>
        </tr>
        {% endfor %}
    </table>
</form>
{{ pagination.links }}
{% endblock %}